name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Run cargo build
      run: cargo build
    - name: Run cargo test
      run: cargo test
    - name: Run cargo clippy
      run: cargo clippy -- -D warnings
